@charset "UTF-8";
/* Nav */
.logo {
  width: 9vw; }

nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffb14b;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  padding: 0.5%; }
  nav a {
    text-decoration: none;
    color: black; }

.navegador {
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  width: 90%;
  margin-top: 1%; }

.cos {
  width: 7vw;
  border: 2px solid black;
  border-radius: 7px; }

/* Ayuda */
.ayuda {
  display: flex;
  flex-direction: row-reverse;
  background-color: #ffcb6b; }

.botonAyuda {
  margin-right: 1%; }

/* Random y Gracioso */
.contenedorRyG {
  background-color: #ffdd1e;
  display: flex;
  justify-content: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%; }

.textoRyG {
  border-radius: 10px;
  box-sizing: content-box;
  padding: 1.5%;
  box-shadow: 10px 10px 10px #4f573c;
  background-color: darkgrey;
  margin: 0% 1rem 0% 1rem;
  width: 20%;
  border: 2px solid black; }

/* Carrusel */
.carousel {
  display: flex;
  justify-content: center;
  flex-direction: row; }

.fotintro {
  border-radius: 10px;
  margin-bottom: 3%; }
  .fotintro img {
    border: 4px solid black;
    border-radius: 10px; }

.carousel-control-prev {
  transition: opacity .5s ease; }

/* Explicación */
.padreDivExplicacion {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%; }

.divExplicacion {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 90%;
  box-shadow: 8px 8px 8px #ffb14b;
  border-radius: 15px;
  background-color: #ffcb6b;
  border: 3px solid black;
  padding: 1%; }

.explicacionInicio {
  margin-bottom: 1%;
  text-align: start;
  font-size: 1vw;
  padding-left: 1%; }

.padreRecomendaciones {
  background-color: #ffe58b;
  box-shadow: 5px 5px 5px #ca7821;
  border: 2px solid black;
  border-radius: 10px;
  padding: 0px 1% 1% 1%;
  width: 100%; }

.recomendaciones {
  display: flex;
  flex-direction: column;
  text-align: left;
  line-height: 2vw;
  margin-top: 1%;
  padding-left: 1%; }
  .recomendaciones .listaA {
    list-style-type: circle;
    text-align: start;
    font-size: 1vw; }

/* Javatweets */
.padrejavatweets {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1%; }

.javatweets {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  box-shadow: 8px 8px 8px #ffb14b;
  border-radius: 15px;
  background-color: #ffcb6b;
  border: 3px solid black;
  padding: 1%; }

.cuatrotweets {
  display: flex;
  flex-direction: row; }

.h5Tweet {
  font-weight: 800;
  font-size: 1.5vw;
  margin-bottom: 2%; }

.tweet {
  box-shadow: 5px 5px 5px #ca7821;
  border-radius: 15px;
  background-color: #ffe58b;
  border: 3px solid black;
  margin: 1% 2%;
  padding: 1%;
  width: 22vw;
  height: 11vw; }
  .tweet p {
    font-size: 1.2vw; }

/* Informaciones */
.infosPadre {
  display: flex;
  justify-content: center;
  margin-bottom: 2%; }

.infos {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  border: 3px solid black;
  border-radius: 15px;
  background-color: #ffcb6b;
  box-shadow: 8px 8px 8px #ffb14b;
  padding: 1%;
  margin-top: 1%; }

.padreInfosExtra {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 2%; }

.infosExtra {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #ffe58b;
  box-shadow: 5px 5px 5px #ca7821;
  width: 50%;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1%;
  margin: 1%; }

.infosRow {
  display: flex;
  flex-direction: row; }

.infoT {
  font-weight: bold;
  margin: 1% 0px; }

.info {
  display: flex;
  text-align: start; }

.infosFoto {
  display: flex;
  justify-content: center;
  margin-bottom: 1%; }

.cronomajane {
  width: 60%;
  box-shadow: 5px 5px 5px #ca7821; }

/* Dato del día */
.padreDivDato {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 1%; }

.divDato {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40%;
  box-shadow: 8px 8px 8px #ffb14b;
  border-radius: 15px;
  background-color: #ffcb6b;
  border: 3px solid black;
  padding: 1%; }

.dato {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #ffe58b;
  box-shadow: 5px 5px 5px #ca7821;
  border-radius: 10px;
  width: 95%;
  margin-top: 1%; }
  .dato .pDato {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5vw;
    margin: 0.5%;
    padding: 3%; }

.elH1 {
  font-family: "Racing Sans One", cursive;
  font-style: normal;
  font-size: 8vw;
  margin-top: 1%;
  margin-bottom: 2%; }

footer {
  background-color: #ffb14b;
  display: flex;
  justify-content: flex-start;
  padding: 1%;
  border-top: 2px solid black; }
  footer a {
    padding: 1%;
    background-color: violet;
    text-decoration: none;
    color: white;
    border: 1px solid white;
    border-radius: 5px; }

.divFooter {
  margin: 0px 1%;
  padding: 0.25% 1%;
  background-color: #ffe58b;
  border-radius: 10px; }

/* Formato gral */
.mainCohadrajot {
  display: flex;
  justify-content: center;
  flex-direction: row;
  text-align: center;
  margin: 0.5%; }

.fotos1 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffb14b;
  box-shadow: 6px 6px 6px #ffcb6b;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px;
  margin: 0.5% 0px; }

.fotos2 {
  width: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background-color: #ffb14b;
  box-shadow: 6px 6px 6px #ffcb6b;
  border: 1px solid black;
  border-radius: 10px;
  padding: 10px; }

.marcoFoto {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 14vw;
  padding: 1%; }

.chImg {
  height: 13vw;
  border: 1px solid black;
  border-radius: 5px; }

.verticales {
  height: 19vw; }

/* Peula de la semana */
.padrePeulaSemana {
  width: 100%;
  display: flex;
  justify-content: center; }

.peulaSemana {
  width: 80%;
  text-align: center;
  background-color: #ffe58b;
  box-shadow: 4px 4px 4px #ffcb6b;
  padding: 1%;
  border: 3px solid black;
  border-radius: 10px; }

.h2PeulaSemana {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  font-size: 2vw;
  margin-bottom: 2%;
  padding: 1%; }

.peulaYMateriales {
  display: flex;
  justify-content: center;
  border: 2px solid black;
  border-radius: 5px;
  margin: 1%; }

.resumenPeula {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 70%;
  padding: 1%; }

.h3Cohadraja {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 1%; }

.resumenPeu {
  display: flex;
  flex-direction: column; }

.peu {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: rgba(255, 140, 111, 0.4);
  border-radius: 10px;
  padding: 1% 3%;
  margin: 1%; }

.h4Peu {
  padding: 1%;
  font-style: italic; }

.pPeu {
  text-align: left; }

.ulJuegos {
  border-radius: 10px;
  padding-top: 2%;
  padding-bottom: 2%; }
  .ulJuegos .listaP {
    list-style-type: circle;
    text-align: start; }

.materialesPeula {
  border-left: 2px solid black;
  padding: 1%;
  width: 50%; }

.ulPeu {
  background-color: rgba(255, 140, 111, 0.4);
  border-radius: 10px; }
  .ulPeu .listaC {
    list-style-type: circle;
    text-align: start;
    font-size: 1vw;
    padding: 1%; }

/* Majane */
.padreMajane {
  display: flex;
  justify-content: center;
  width: 100%;
  margin: 3% 0px 1% 0px; }

.majane {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  padding: 1%;
  background-color: #ffe58b;
  box-shadow: 4px 4px 4px #ffcb6b;
  border: 3px solid black;
  border-radius: 10px; }

.progresoIndicadores {
  display: flex;
  flex-direction: column; }
  .progresoIndicadores .barraProgreso {
    width: 100%; }
  .progresoIndicadores .progress {
    margin-bottom: 2%; }
  .progresoIndicadores .indicadores {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; }
    .progresoIndicadores .indicadores div {
      padding: 1%;
      background-color: #ffb14b;
      border-radius: 5px;
      height: 3vw;
      width: fit-content;
      text-align: center; }

/* Ayuda */
.h3Ayuda {
  font-size: 1.5vw;
  margin-top: 3%;
  padding-top: 2%;
  border-top: #FF8C6F dotted 4px; }

.tyBoton {
  display: flex;
  flex-direction: row;
  margin: 1%; }

.pAyuda {
  font-style: italic; }

.ayudas {
  margin: 0px 2%; }
  .ayudas a {
    text-decoration: none;
    color: white; }
    .ayudas a:hover {
      color: red; }

/* Motivacional */
/* Gral */
.padreMotivacional {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 4%;
  margin-bottom: 1%; }

.motivacional {
  display: flex;
  justify-content: center;
  width: 90%; }

.moti {
  width: 55vw;
  border: 3px solid black;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #FF8C6F; }

/* Javacrono */
.divInfos {
  display: flex;
  flex-direction: column;
  align-items: center; }

.h2Java {
  font-size: 2.5vw;
  margin: 2% 0px 3% 0px; }

/* Recursera */
.padreDivRecursera {
  display: flex;
  justify-content: center;
  width: 100%; }

.divRecursera {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 60%;
  background-color: #ffcb6b;
  box-shadow: 8px 8px 8px #ffb14b;
  border: 3px solid black;
  border-radius: 10px;
  margin-top: 1%;
  padding: 1%; }

.divPs {
  margin-bottom: 4%; }

.ps {
  margin: 0px; }

.divLado {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin-bottom: 1.5%; }
  .divLado a {
    text-decoration: none;
    color: red;
    -webkit-text-stroke: 1px black;
    font-size: 2vw;
    font-weight: 600;
    margin: 0px 1%; }
    .divLado a:hover {
      color: yellow; }

/* Figuritas */
.abueloGral {
  margin-top: 4%; }

.padreDivH2 {
  width: 100%;
  display: flex;
  justify-content: center; }

.divH2 {
  background-color: #ca7821;
  box-shadow: 6px 6px 6px #ffcb6b;
  width: 50%;
  padding: 0.8%;
  border-radius: 10px;
  border: 3px solid black; }

/* Sentimiento + Momento */
.padreSentimiento {
  display: flex;
  justify-content: center;
  width: 100%; }

.sentimiento {
  display: flex;
  justify-content: center;
  width: 60%; }

.imgSent {
  background-color: rgba(255, 203, 107, 0.4);
  border: 2px solid black;
  border-radius: 20px;
  box-shadow: 4px 4px 4px #ffcb6b;
  padding: 2%; }

/* Semanalmente divertido y Sabias que*/
.padreDivSemanal {
  display: flex;
  justify-content: center;
  width: 100%; }

.divSemanal {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 55%;
  background-color: #ffcb6b;
  box-shadow: 8px 8px 8px #ffb14b;
  border: 3px solid black;
  border-radius: 10px;
  margin: 2%;
  padding: 1%; }

.divAs {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  margin: 2% 0px; }
  .divAs a {
    text-decoration: none;
    color: black;
    font-size: 2vw;
    font-weight: 600;
    margin: 0px 1%; }
    .divAs a:hover {
      color: yellow; }

.padreDivSabias {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #ffe58b;
  border: 1px solid black;
  border-radius: 10px;
  width: 70%;
  margin: 1% 0px; }

.divSabias {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  padding: 2%; }

.sabias {
  display: flex;
  justify-content: center; }

.pSabias {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  font-size: 1.3vw;
  width: 90%;
  background-color: #ffcb6b;
  border-radius: 10px;
  padding: 1%; }

/* Formato Grid */
.padreGridGral {
  display: flex;
  justify-content: center;
  margin: 3% 1%;
  padding: 1%;
  background-color: #ffe58b;
  box-shadow: 8px 8px 8px #ffe58b;
  border-radius: 20px;
  border: 1px solid black; }

.gridGral {
  display: grid;
  grid-template-columns: repeat(4, 1fr) 0.18fr repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 17px;
  padding: 1%;
  width: 100%; }
  .gridGral .div1 {
    grid-area: 1 / 1 / 2 / 2; }
  .gridGral .div2 {
    grid-area: 1 / 2 / 2 / 3; }
  .gridGral .div3 {
    grid-area: 1 / 3 / 2 / 4; }
  .gridGral .div4 {
    grid-area: 1 / 4 / 2 / 5; }
  .gridGral .div5 {
    grid-area: 2 / 1 / 3 / 2; }
  .gridGral .div6 {
    grid-area: 2 / 2 / 3 / 3; }
  .gridGral .div7 {
    grid-area: 2 / 3 / 3 / 4; }
  .gridGral .div8 {
    grid-area: 2 / 4 / 3 / 5; }
  .gridGral .div9 {
    grid-area: 3 / 1 / 4 / 2; }
  .gridGral .div10 {
    grid-area: 3 / 2 / 4 / 3; }
  .gridGral .div11 {
    grid-area: 3 / 3 / 4 / 4; }
  .gridGral .div12 {
    grid-area: 3 / 4 / 4 / 5; }
  .gridGral .div13 {
    grid-area: 4 / 1 / 5 / 2; }
  .gridGral .div14 {
    grid-area: 4 / 2 / 5 / 3; }
  .gridGral .div15 {
    grid-area: 4 / 3 / 5 / 4; }
  .gridGral .div16 {
    grid-area: 4 / 4 / 5 / 5; }
  .gridGral .div17 {
    grid-area: 5 / 1 / 6 / 2; }
  .gridGral .div18 {
    grid-area: 5 / 2 / 6 / 3; }
  .gridGral .div19 {
    grid-area: 5 / 3 / 6 / 4; }
  .gridGral .div20 {
    grid-area: 5 / 4 / 6 / 5; }
  .gridGral .div21 {
    grid-area: 6 / 1 / 7 / 2; }
  .gridGral .div22 {
    grid-area: 6 / 2 / 7 / 3; }
  .gridGral .div23 {
    grid-area: 6 / 3 / 7 / 4; }
  .gridGral .div24 {
    grid-area: 6 / 4 / 7 / 5; }
  .gridGral .div25 {
    grid-area: 1 / 6 / 2 / 7; }
  .gridGral .div26 {
    grid-area: 1 / 7 / 2 / 8; }
  .gridGral .div27 {
    grid-area: 1 / 8 / 2 / 9; }
  .gridGral .div28 {
    grid-area: 1 / 9 / 2 / 10; }
  .gridGral .div29 {
    grid-area: 2 / 6 / 3 / 7; }
  .gridGral .div30 {
    grid-area: 2 / 7 / 3 / 8; }
  .gridGral .div31 {
    grid-area: 2 / 8 / 3 / 9; }
  .gridGral .div32 {
    grid-area: 2 / 9 / 3 / 10; }
  .gridGral .div33 {
    grid-area: 3 / 6 / 4 / 7; }
  .gridGral .div34 {
    grid-area: 3 / 7 / 4 / 8; }
  .gridGral .div35 {
    grid-area: 3 / 8 / 4 / 9; }
  .gridGral .div36 {
    grid-area: 3 / 9 / 4 / 10; }
  .gridGral .div37 {
    grid-area: 4 / 6 / 5 / 7; }
  .gridGral .div38 {
    grid-area: 4 / 7 / 5 / 8; }
  .gridGral .div39 {
    grid-area: 4 / 8 / 5 / 9; }
  .gridGral .div40 {
    grid-area: 4 / 9 / 5 / 10; }
  .gridGral .div41 {
    grid-area: 5 / 6 / 6 / 7; }
  .gridGral .div42 {
    grid-area: 5 / 7 / 6 / 8; }
  .gridGral .div43 {
    grid-area: 5 / 8 / 6 / 9; }
  .gridGral .div44 {
    grid-area: 5 / 9 / 6 / 10; }
  .gridGral .div45 {
    grid-area: 6 / 6 / 7 / 7; }
  .gridGral .div46 {
    grid-area: 6 / 7 / 7 / 8; }
  .gridGral .div47 {
    grid-area: 6 / 8 / 7 / 9; }
  .gridGral .div48 {
    grid-area: 6 / 9 / 7 / 10; }

/* Diseño Individual */
.divGrid {
  background-color: #ffcb6b;
  box-shadow: 5px 5px 5px #ffcb6b;
  border: 2px solid black;
  border-radius: 10px;
  padding: 2%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center; }
  .divGrid .h4Categoria {
    font-size: 1.3vw; }
  .divGrid .h5Cantidad {
    font-size: 2.5vw;
    font-weight: 50; }

.divGridA .h3Nombre {
  display: flex;
  font-size: 2vw; }

.divGridA .imgGrid {
  width: 25%; }

.navAyuda {
  background-image: linear-gradient(to right, #AA50FF, #672AFF, #5325FF); }

.paginaAyuda {
  background-image: url(../fotitos/galaxia.jpeg);
  background-size: cover;
  width: 100%;
  height: 100%; }

.h1Ayuda {
  font-family: "Racing Sans One";
  font-style: normal;
  font-size: 8vw;
  margin: 1% 0px;
  color: #4600C9;
  -webkit-text-stroke: 2px yellowgreen; }

/* Fotos en botones */
.padreJi {
  display: flex;
  justify-content: center;
  width: 100%; }

.ji {
  background-color: #672AFF;
  border: 3px solid black;
  border-radius: 10px;
  padding: 1%;
  width: 70%; }

.h3Mensajito {
  font-size: 2vw;
  color: black; }

.jijiji {
  display: flex;
  justify-content: center; }

.fotosJi {
  border-radius: 10px; }

/* Wpp */
.padreDivWpp {
  display: flex;
  justify-content: center; }

.divWpp {
  background-color: #672AFF;
  border: 3px solid black;
  border-radius: 10px;
  width: 50%;
  margin: 1%;
  padding: 1%; }

.pWpp {
  font-size: 1.5vw;
  color: black; }

.wpp {
  background-color: #00bb2d;
  border-radius: 100%; }

/* 900 */
@media only screen and (max-width: 900px) {
  /* Nav */
  .logo {
    width: 12vw; }
  .cos {
    width: 10vw; }
  /* Carrusel */
  .fotintro img {
    border: 3px solid black; }
  /* Recomendaciones */
  .explicacionInicio {
    font-size: 1.5vw; }
  .recomendaciones {
    font-size: 1.5vw; }
    .recomendaciones .listaA {
      font-size: 1.5vw;
      margin: 0.5%; }
  /* Dato */
  .dato .pDato {
    font-size: 1vw; } }

/* 730 */
@media only screen and (max-width: 730px) {
  /* RESOLVER H2/*
    /* Recomendaciones */
  .divExplicacion {
    box-shadow: 4px 4px 4px #ffb14b; }
  .padreRecomendaciones {
    box-shadow: 2px 2px 2px #ca7821; }
  .recomendaciones {
    line-height: 3vw; }
  /* Tweet */
  .javatweets {
    box-shadow: 4px 4px 4px #ffb14b; }
  .tweet {
    box-shadow: 2px 2px 2px #ca7821;
    border: 1px solid black; }
  /* Infos */
  .infos {
    box-shadow: 4px 4px 4px #ffb14b; }
  .infosExtra {
    box-shadow: 2px 2px 2px #ca7821;
    border: 2px solid black;
    width: 70%; }
  .cronomajane {
    box-shadow: 3px 3px 3px #ca7821;
    width: 90%; }
  /* Dato */
  .divDato {
    box-shadow: 4px 4px 4px #ffb14b; }
  .dato {
    box-shadow: 2px 2px 2px #ca7821;
    width: 90%; }
    .dato .pDato {
      font-size: 1.2vw; }
  .divFooter .pFooter {
    font-size: 2vw; } }

/* 545 */
@media only screen and (max-width: 545px) {
  /* Nav */
  .logo {
    width: 13vw;
    padding-left: 1%; }
  .cos {
    width: 12vw;
    margin-top: 2%;
    border: 1px solid black; }
  /* Carrusel */
  .fotintro img {
    border: 2px solid black; }
  /* Recomendaciones */
  .divExplicacion {
    border: 2px solid black; }
  .h2Exp {
    margin: 5px 0px 10px 5px; }
  .explicacionInicio {
    font-size: 2vw; }
  .padreRecomendaciones {
    border: 1px solid black; }
  .recomendaciones {
    font-size: 2vw;
    margin-left: 2%; }
    .recomendaciones .listaA {
      font-size: 1.7vw;
      padding-left: 1%; }
  /* Tweet */
  .javatweets {
    border: 2px solid black; }
  .h5Tweet {
    font-size: 2vw; }
  .tweet {
    height: 12vw; }
    .tweet p {
      font-size: 1.3vw; }
  /* Infos */
  .infos {
    border: 2px solid black; }
  .infosExtra {
    border: 1px solid black; }
  .infoT {
    font-size: 2vw; }
  .info {
    font-size: 1.5vw; }
  /* Dato */
  .divDato {
    border: 2px solid black; }
  .dato {
    width: 100%; }
    .dato .pDato {
      font-size: 1.8vw; } }

/* 400 */
@media only screen and (max-width: 400px) {
  /* Nav */
  .logo {
    margin-left: 1%; }
  .cos {
    width: 13vw;
    margin-top: 2%; }
  /* Dato */
  .dato .pDato {
    font-size: 1vw; } }

* {
  padding: 0%;
  margin: 0%;
  list-style: none; }

body {
  width: 100%;
  display: flex;
  flex-direction: column; }

/* Main */
main {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  padding: 1%;
  background-color: #ffffab;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.theH1 {
  font-family: "Racing Sans One", cursive;
  font-style: normal;
  font-size: 9.5vw;
  margin: 1% 0px; }

.h2Gral {
  font-size: 2.5vw;
  margin-bottom: 1%; }
