@import "./variables/variables";
@import "sass2/extend";
@import "sass2/mixin";
@import "./partials/nav";
@import "./partials/index";
@import "./partials/h1";
@import "./partials/footer";
@import "./partials/cohadrajot";

*{
    padding: 0%;
    margin: 0%;
    list-style: none;
}
body{
    width: $width1;
    @include columna;
}

/* Main */
main{
    @include main;
    padding: $paddinggral;
    background-color: $fondo;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}