$fuente: 'Racing Sans One', cursive;
$fondo: #ffffab;
$colornav: #ffb14b;
$color1: #ffb14b;
$color2: #ffcb6b;
$color3: #ffe58b;
$color4: #ca7821;
$paddinggral: 1%;
$margingral: 1%;
$width1: 100%;
$width2: 90%;
$width3: 70%;
$width4: 60%;
$width5: 50%;
$width6: 40%;
$width7: 30%;
$width8: 75%;
$width9: 25%;
$borde1: 3px solid black;
$borde2: 2px solid black;
$borde3: 1px solid black;
$borde4: 5px solid black;
$borde5: 4px solid black;