@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";

.navAyuda{
    background-image: linear-gradient(to right, #AA50FF, #672AFF, #5325FF);
}

.paginaAyuda{
    background-image: url(../fotitos/galaxia.jpeg);
    background-size: cover;
}

.h1Ayuda{
    font-family: "Racing Sans One";
    font-style: normal;
    font-size: 8vw;
    margin: $margingral 0px;
    color: #4600C9;
    -webkit-text-stroke: 2px yellowgreen;
}

.padreDivWpp{
    @include centrar;
}
.divWpp{
    background-color: #672AFF;
    border: $borde1;
    border-radius: 10px;
    width: $width5;
    margin: $margingral;
    padding: $paddinggral;
}
.pWpp{
    font-size: 1.5vw;
    color: black;
}
.wpp{
    background-color: #00bb2d;
    border-radius: 100%;
}