@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";

/* Formato gral */

.mainCohadrajot{
    @include main-cohadrajot;
    margin: $margingral/2;
}

.fotos1 {
    width: 20%;
    @include evenly;
    background-color: $color1;
    box-shadow: 6px 6px 6px $color2;
    border: $borde3;
    border-radius: 10px;
    padding: 10px;
    margin: $margingral/2 0px;
}
.fotos2 {
    width: 20%;
    @include evenly;
    background-color: $color1;
    box-shadow: 6px 6px 6px $color2;
    border: $borde3;
    border-radius: 10px;
    padding: 10px;
}
.marcoFoto{
    @include dato;
    height: 14vw;
    padding: $paddinggral;
}
.chImg{
    height: 13vw;
    border: $borde3;
    border-radius: 5px;
}
.verticales{
    height: 19vw;
}

/* Peula de la semana */

.padrePeulaSemana{
    width: $width1;
    @include centrar;
}
.peulaSemana{
    width: $width3+10;
    text-align: center;
    background-color: $color3;
    box-shadow: 4px 4px 4px $color2;
    padding: $paddinggral;
    border: $borde1;
    border-radius: 10px;
}
.h2PeulaSemana{
    @include start;
    font-size: 2vw;
    margin-bottom: $margingral*2;
    padding: $paddinggral;
}
.peulaYMateriales{
    @include centrar;
    border: $borde2;
    border-radius: 5px;
    margin: $margingral;
}
.resumenPeula{
    @include start;
    width: $width3;
    padding: $paddinggral;
}
.h3Cohadraja{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: $paddinggral;
}
.resumenPeu{
    @include columna;
}
.peu{
    @include start;
    background-color: rgba($color: #FF8C6F, $alpha: 0.4);
    border-radius: 10px;
    padding: $paddinggral $paddinggral*3;
    margin: $margingral;
}
.h4Peu{
    padding: $paddinggral;
    font-style: italic;
}
.pPeu{
    text-align: left;
}
.ulJuegos{
    border-radius: 10px;
    padding-top: $paddinggral*2;
    padding-bottom: $paddinggral*2;
    .listaP{
        list-style-type: circle;
        text-align: start;
    }
}
.materialesPeula{
    border-left: $borde2;
    padding: $paddinggral;
    width: $width5;
}
.ulPeu{
    background-color: rgba($color: #FF8C6F, $alpha: 0.4);
    border-radius: 10px;
    padding-top: $paddinggral*2;
    padding-bottom: $paddinggral*2;
    .listaC{
        list-style-type: circle;
        text-align: start;
        font-size: 1vw;
    }
}

/* Majane */

.padreMajane{
    @include centrar;
    width: $width1;
    margin: $margingral*3 0px $margingral 0px;
}
.majane{
    @include centrar-columna;
    width: $width2;
    padding: $paddinggral;
    background-color: $color3;
    box-shadow: 4px 4px 4px $color2;
    border: $borde1;
    border-radius: 10px;
}
.progresoIndicadores{
    @include columna;
    .barraProgreso {
        width: $width1;
    }
    .progress{
        margin-bottom: $margingral*2;
    }
    .indicadores {
    @include evenly-row;
    div {
        padding: $paddinggral;
        background-color: $color1;
        border-radius: 5px;
        height: 3vw;
        width: fit-content;
        text-align: center;
        }
    }
}

/* Ayuda */

.h3Ayuda{
    font-size: 1.5vw;
    margin-top: $margingral*3;
    padding-top: $paddinggral*2;
    border-top: #FF8C6F dotted 4px;
}
.tyBoton{
    display: flex;
    flex-direction: row;
    margin: $margingral;
}
.pAyuda{
    font-style: italic;
}
.ayudas{
    margin: 0px $margingral*2;
    a{
        text-decoration: none;
        color: white;
        &:hover{
            color: red;
        }
    }
}

/* Motivacional */
/* Gral */
.padreMotivacional{
    @include centrar;
    width: $width1;
    margin-top: $margingral*4;
    margin-bottom: $margingral;
}
.motivacional{
    @include centrar;
    width: $width2;
}
.moti{
    width: 55vw;
    border: $borde1;
    border-radius: 20px;
    box-shadow: 4px 4px 4px $color5;
}