@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";

/* Carrusel */
.carousel{
    @include fila2;
}
.fotintro{
    border-radius: 10px;
    margin-bottom: $margingral*3;
    img{
        border: $borde5;
        border-radius: 10px;
    }
}
.carousel-control-prev{
    transition: opacity .5s ease;
}

/* Explicación */
.padreDivExplicacion{
    @include centrar;
    width: $width1;
    margin-bottom: $margingral*2;
}
.divExplicacion{
    @include start;
    width: $width2;
    box-shadow: 8px 8px 8px $color1;
    border-radius: 15px;
    background-color: $color2;
    border: $borde1;
    padding: $paddinggral;
}
.explicacionInicio{
    margin-bottom: $margingral;
    text-align: start;
    font-size: 1vw;
    padding-left: $paddinggral;
}
.padreRecomendaciones{
    background-color: $color3;
    box-shadow: 5px 5px 5px $color4;
    border: $borde2;
    border-radius: 5px;
    padding: 0px $paddinggral $paddinggral $paddinggral;
    width: 100%;
}
.recomendaciones{
    @include reco;
    line-height: 2vw;
    margin-top: $margingral;
    padding-left: $paddinggral;
    .listaA{
        list-style-type: circle;
        text-align: start;
        font-size: 1vw;
    }
}

/* Javatweets */
.padrejavatweets{
    @include centrar;
    width: $width1;
    margin-bottom: $margingral;
}
.javatweets{
    @include tweet;
    width: $width2;
    box-shadow: 8px 8px 8px $color1;
    border-radius: 15px;
    background-color: $color2;
    border: $borde1;
    padding: $paddinggral;
}
.cuatrotweets{
    @include fila;
}
.h5Tweet{
    font-weight: 800;
    font-size: 1.5vw;
    margin-bottom: $margingral*2;
}
.tweet{
    box-shadow: 5px 5px 5px $color4;
    border-radius: 15px;
    background-color: $color3;
    border: $borde1;
    margin: $margingral $margingral*2;
    padding: $paddinggral;
    width: 22vw;
    height: 11vw;
    p{
        font-size: 1.2vw;
    }
}

/* Informaciones */
.infosPadre{
    @include centrar;
    margin-bottom: $margingral*2;
}
.infos{
    @include centrar-columna;
    width: $width2;
    border: $borde1;
    border-radius: 15px;
    background-color: $color2;
    box-shadow: 8px 8px 8px $color1;
    padding: $paddinggral;
    margin-top: $margingral;
}
.padreInfosExtra{
    @include centrar;
    width: $width1;
    margin-bottom: $margingral*2;
}
.infosExtra{
    @include infos;
    background-color: $color3;
    box-shadow: 5px 5px 5px $color4;
    width: $width5;
    border: $borde1;
    border-radius: 10px;
    padding: $paddinggral;
    margin: $margingral;
}
.infosRow{
    display: flex;
    flex-direction: row;
}
.infoT{
    font-weight: bold;
    margin: $margingral 0px;
}
.info{
    @include una-info;
}
.infosFoto{
    @include centrar;
    margin-bottom: $margingral;
}
.cronomajane{
    width: $width4;
    box-shadow: 5px 5px 5px $color4;
}

/* Dato del día */

.padreDivDato{
    @include centrar;
    width: $width1;
    margin-bottom: $margingral;
}
.divDato{
    @include div-dato;
    width: $width6;
    box-shadow: 8px 8px 8px $color1;
    border-radius: 15px;
    background-color: $color2;
    border: $borde1;
    padding: $paddinggral;
}
.dato{
    @include dato;
    background-color: $color3;
    box-shadow: 5px 5px 5px $color4;
    border: $borde2;
    border-radius: 10px;
    width: $width3+10;
    height: 5vw;
    margin-top: $margingral;
    padding: $paddinggral;
    p{
        font-size: 1vw;
    }
}