@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";

/* Javacrono */
.divInfos{
    @include tweet;
}
.h2Java{
    font-size: 2.5vw;
    margin: $margingral*2 0px $margingral*3 0px;
}

/* Recursera */
.padreDivRecursera{
    @include centrar;
    width: $width1;
}
.divRecursera{
    @include centrar-columna;
    width: $width4;
    background-color: $color2;
    box-shadow: 8px 8px 8px $color1;
    border: $borde1;
    border-radius: 10px;
    margin-top: $margingral;
    padding: $paddinggral;
}
.divPs{
    margin-bottom: $margingral*4;
}
.ps{
    margin: 0px;
}
.divLado{
    @include fila3;
    margin-bottom: $margingral*1.5;
    a{
        text-decoration: none;
        color: red;
        -webkit-text-stroke: 1px black;
        font-size: 2vw;
        font-weight: 600;
        margin: 0px $margingral;
        &:hover{
            color: yellow;
        }
    }
}

/* Figuritas */
.abueloGral{
    margin-top: $margingral*4;
}
.padreDivH2{
    width: $width1;
    @include centrar;
}
.divH2{
    background-color: $color4;
    box-shadow: 6px 6px 6px $color2;
    width: $width5;
    padding: $paddinggral*0.8;
    border-radius: 10px;
    border: $borde1;
}

/* Semanalmente divertido y Sabias que*/
.padreDivSemanal{
    @include centrar;
    width: $width1;
}
.divSemanal{
    @include centrar-columna2;
    width: $width5;
    background-color: $color2;
    box-shadow: 8px 8px 8px $color1;
    border: $borde1;
    border-radius: 10px;
    margin: $margingral*2;
    padding: $paddinggral;
}
.divAs{
    @include fila3;
    margin: $margingral*2 0px;
    a{
        text-decoration: none;
        color: black;
        font-size: 2vw;
        font-weight: 600;
        margin: 0px $margingral;
        &:hover{
            color: yellow;
        }
    }
}
.padreDivSabias{
    @include centrar-columna;
    background-color: $color3;
    border: $borde3;
    border-radius: 10px;
    width: $width3;
    margin: $margingral 0px
}
.divSabias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}
.sabias{
    @include centrar;
}
.pSabias{
    @include main;
    font-size: 1.3vw;
    width: $width3+15;
    background-color: $color2;
    border-radius: 10px;
}

.divDato{
    @include div-dato;
    width: $width6;
    box-shadow: 8px 8px 8px $color1;
    border-radius: 15px;
    background-color: $color2;
    border: $borde1;
    padding: $paddinggral;
}
.dato{
    @include dato;
    background-color: $color3;
    box-shadow: 5px 5px 5px $color4;
    border: $borde2;
    border-radius: 10px;
    width: $width3+10;
    height: 5vw;
    margin-top: $margingral;
}