@import "../variables/variables";

/* Nav */
.logo{
    width: 9vw;
}
nav{
    @include centrar;
    background-color: $colornav;
    border-top:2px solid black;
    border-bottom:2px solid black;
    padding: $paddinggral/2;
    a{
        text-decoration: none;
        color: black;
    }
}
.itemsNav{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 90%;
}
.burbujaNav{
    border-radius:100%;
    background-color: white;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: larger;
    border: 1px solid black;
}