@import "../variables/variables";
@import "../sass2/extend";
@import "../sass2/mixin";

/* 900 */

@media only screen and (max-width: 900px){
    /* Nav */
    .logo{
        width: 12vw;
    }
    .cos{
        width: 10vw;
    }
    /* Carrusel */
    .fotintro{
        img{
            border: $borde1;
        }
    }
    /* H2 */
    .h2Gral{
        font-size: 3vw !important;
    }
    .h2PeulaSemana{
        font-size: 3.5vw !important;
    }
    /* Recomendaciones */
    .explicacionInicio{
        font-size: 1.5vw;
    }
    .recomendaciones{
        font-size: 1.5vw;
        .listaA{
            font-size: 1.5vw;
            margin: $margingral/2;
        }
    }
    /* Dato */
    .dato{
        .pDato{
            font-size: 1vw;
        }
    }
    /* COHADRAJOT */
    /* Hide */
    .fotos1{
        display: none !important;
    }
    .fotos2{
        display: none !important;
    }
    /* Peula */
    .ulPeu{
        padding-top: $paddinggral;
        padding-bottom: $paddinggral;
    }
    .h3Cohadraja{
        font-size: 3vw;
    }
    .listaC{
        font-size: 1.7vw !important;
    }
    /* Majane */
    .progresoIndicadores{
        .indicadores{
            div{
                height: 4vw;
            }
        }
    }
    /* Ayuda */
    .h3Ayuda{
        font-size: 2.2vw;
    }
    /* Motivacional */
    .padreMotivacional{
        margin-top: $margingral*2;
    }
    .moti{
        width: 85vw;
    }
}

/* 750 */

@media only screen and (max-width: 750px){
    /* COHADRAJOT */
    .indicador{
        font-size: 1.8vw;
    }
}

/* 730 */

@media only screen and (max-width: 730px){
    /* Recomendaciones */
    .divExplicacion{
        box-shadow: 4px 4px 4px $color1;
    }
    .padreRecomendaciones{
        box-shadow: 2px 2px 2px $color4;
    }
    .recomendaciones{
        line-height: 3vw;
    }
    /* Tweet */
    .javatweets{
        box-shadow: 4px 4px 4px $color1;
    }
    .tweet{
        box-shadow: 2px 2px 2px $color4;
        border: $borde3;
    }
    /* Infos */
    .infos{
        box-shadow: 4px 4px 4px $color1;
    }
    .infosExtra{
        box-shadow: 2px 2px 2px $color4;
        border: $borde2;
        width: $width3;
    }
    .cronomajane{
        box-shadow: 3px 3px 3px $color4;
        width: $width2;
    }
    /* Dato */
    .divDato{
        box-shadow: 4px 4px 4px $color1;
    }
    .dato{
        box-shadow: 2px 2px 2px $color4;
        width: $width2;
        .pDato{
            font-size: 1.2vw;
        }
    }
    .divFooter{
        .pFooter{
            font-size: 2vw;
        }
    }
    .listaC{
        font-size: 2vw !important;
    }
}

/* 545 */

@media only screen and (max-width: 545px){
    /* Nav */
    .logo{
        width: 13vw;
        padding-left: $paddinggral;
    }
    .cos{
        width: 12vw;
        margin-top: $margingral*2;
        border: $borde3;
    }
    /* Carrusel */
    .fotintro{
        img{
            border: $borde2;
        }
    }
    /* Recomendaciones */
    .divExplicacion{
        border: $borde2;
    }
    .h2Exp{
        margin: 5px 0px 10px 5px;
    }
    .explicacionInicio{
        font-size: 2vw;
    }
    .padreRecomendaciones{
        border: $borde3;
    }
    .recomendaciones{
        font-size: 2vw;
        margin-left: $margingral*2;
        .listaA{
            font-size: 1.7vw;
            padding-left: $paddinggral;
        }
    }
    /* Tweet */
    .javatweets{
        border: $borde2;
    }
    .h5Tweet{
        font-size: 2vw;
    }
    .tweet{
        height: 16vw;
        p{
            font-size: 1.5vw;
        }
    }
    /* Infos */
    .infos{
        border: $borde2;
    }
    .infosExtra{
        border: $borde3;
    }
    .infoT{
        font-size: 2vw;
    }
    .info{
        font-size: 1.5vw;
    }
    /* Dato */
    .divDato{
        border: $borde2;
    }
    .dato{
        width: $width1;
        .pDato{
            font-size: 1.8vw;
        }
    }
    /* COHADRAJOT */
    /* Peula de la semana */
    .h4Peu{
        font-size: 4vw;
    }
    .pPeu{
        font-size: 3vw;
        padding: $paddinggral;
    }
    .ulJuegos{
        .listaP{
            font-size: 3vw;
        }
    }
    /* Majane */
    .indicador{
        font-size: 2vw;
        padding: $paddinggral;
    }
    /* Ayuda */
    .h3Ayuda{
        font-size: 3.5vw;
    }
    .pAyuda{
        font-size: 3vw;
    }
    /* JAVA */
    /* Recursera */
    .divRecursera{
        border: $borde2;
        box-shadow: 4px 4px 4px $color1;
    }
    .ps{
        font-size: 2.5vw;
    }
    .divLado{
        a{
            font-size: 2.8vw;
        }
    }
    /* Figuritas */
    .divH2{
        border: $borde2;
    }
    .imgGrid{
        width: 3vw !important;
    }
    .divGrid{
        border: $borde3;
        padding-top: $paddinggral*15;
    }
    .divGridA{
        .h4Categoria{
            display: none !important;
        }
    }
    /* Sentimiento */
    .imgSent{
        width: 90vw;
    }
    /* Sabías que */
    .divSemanal{
        border: $borde2;
    }
    .divSeparar{
        a{
            font-size: 3vw;
        }
    }
    .padreDivSabias{
        width: $width2;
    }
    .h3Sabias{
        font-size: 2vw;
    }
    .sabias{
        padding: $paddinggral*2;
    }
    .pSabias{
        font-size: 2vw;
    }
    /* NO TOCAR */
    .ji{
        border: $borde2;
    }
    .fotosJi{
        width: $width2;
    }
    .divWpp{
        border: $borde2;
    }
    .wpp{
        width: 10vw;
    }
}

/* 400 */

@media only screen and (max-width: 400px){
    /* Nav */
    .logo{
        margin-left: $margingral;
    }
    .cos{
        width: 13vw;
        margin-top: $margingral*2;
    }
    /* Dato */
    .dato{
        .pDato{
            font-size: 1vw;
        }
    }
}